<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>로그인</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="../css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="../image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- owl stylesheets -->
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
<!-- header section start -->
<div class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="main_logo"><a href="../"><img src="../images/logo.png"></a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="party/list">운동찾기</a></li>
          <li class="nav-item"><a class="nav-link" href="board/main">커뮤니티</a></li>
          <li class="nav-item"><a class="nav-link" href="shop.html">공지사항</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
<body>
    <form action="updateh" method="post" id="detailForm">
    <table>
        <tr>
            <th>번호</th>
            <td><input type="text" name="no" th:value="${health.no}"readonly></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text" name="title" th:value="${health.title}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td><input type="text" name="writer" th:value="${health.writer}" readonly></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea name="content" cols="30" rows="5" th:text="${health.content}"></textarea></td>
        </tr>
    </table>
        <button>수정</button>
        <button type="button" th:onclick="'deletezz(' + ${health.no} + ');'">삭제</button>
    </form>


</body>
<!--자바스크립스 변수명이 delete로 하면 실행이 안되는이유?-->
<!--액션 값이 delete로 했을때 왜 리다이렉트되어 auth/form이 뜨는지?-->
<script>
    function deletezz(no) {

	  var detailForm = document.getElementById("detailForm");
	  console.log(detailForm);

	  detailForm.action="deleteh";
	  detailForm.method="get";
	  detailForm.submit();
	}
</script>

</html>